.footer {
    min-height:50px;
    background:Lavender;
}

.body-container{
    min-height: 100vh;
}

.tool{
    border-left: 2px solid #000000;
}

.dog{
    font-family: 'Indie Flower', cursive;
}

.shopr{
    font-family: 'Luckiest Guy', cursive;
}

.boutline{
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}