<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navigation :: head"></head>
<body>
<div class="d-flex flex-column body-container">

    <nav th:replace="fragments/adminNav :: adminNav"></nav>

    <div class="container py-4">

        <div class="container-fluid">
            <div class="d-flex justify-content-around py-5">
                <a th:href="@{/addGame}" role="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Add new Game"><i class="fas fa-plus fa-3x"></i><i
                        class="fas fa-gamepad fa-5x"></i></a>
                <a th:href="@{/addLPRecord}" role="button" class="btn btn-primary" data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Add new LP Record"><i class="fas fa-plus fa-3x"></i><i
                        class="fas fa-record-vinyl fa-5x"></i></a>
                <a th:href="@{/addFictionBook}" role="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip"
                   data-bs-placement="top" title="Add new Fiction Book"><i class="fas fa-plus fa-3x"></i><i
                        class="fas fa-journal-whills fa-5x"></i></a>
                <a th:href="@{/addNonfictionBook}" role="button" class="btn btn-outline-secondary"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Add new Non-Fiction Book"><i
                        class="fas fa-plus fa-3x"></i><i class="fas fa-atlas fa-5x"></i></a>

            </div>
        </div>

        <h1><i class="fas fa-plus"></i> Add LP Record</h1>

        <form action="#" th:action="@{/saveLPRecord}" th:object="${lpRecord}"
              method="POST">

            <div class="mb-3">
                <label for="name" class="form-label">Title</label>
                <input type="text" th:field="*{name}"
                       placeholder="Name" id="name" class="form-control">
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" min="0" value="0" step="0.01" title="Currency"
                       pattern="^\d+(?:\.\d{1,2})?$"
                       th:field="*{price}"
                       placeholder="Price" id="price" class="form-control">
            </div>

            <div class="mb-3">
                <label for="vendor" class="form-label">Vendor</label>
                <input type="text" th:field="*{vendor_ID}"
                       placeholder="Vendor ID" id="vendor" class="form-control">
            </div>

            <div class="mb-3">
                <label for="artist" class="form-label">Artist</label>
                <input type="text" th:field="*{artist}" placeholder="Artist" id="artist" class="form-control">
            </div>

            <div class="mb-3">
                <label for="genre" class="form-label">Genre</label>
                <select th:field="*{music_genre}" id="genre" class="form-control">
                    <option th:each="genre : ${musicGenreList}" th:value="${genre.name()}"><span
                            th:text="${genre.name()}"></span>
                    </option>
                </select>
            </div>

            <button type="submit" class="btn btn-success"> Save Item</button>
        </form>
    </div>

    <nav th:replace="fragments/navigation :: footer"></nav>
</div>
</body>
</html>