<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopr - Add LP Record</title>
</head>
<body>
<h1>Shopr - Add LP Record</h1>

<form action="#" th:action="@{/saveLPRecord}" th:object="${lpRecord}"
      method="POST">
    <input type="text" th:field="*{name}"
           placeholder="Name">

    <input type="number" name="price" min="0" value="0" step="0.01" title="Currency" pattern="^\d+(?:\.\d{1,2})?$"
           th:field="*{price}"
           placeholder="Price">

    <input type="text" th:field="*{vendor_ID}"
           placeholder="Vendor ID">

    <input type="text" th:field="*{artist}" placeholder="Artist">

    <select th:field="*{music_genre}">
        <option th:each="genre : ${musicGenreList}" th:value="${genre.name()}"><span th:text="${genre.name()}"></span>
        </option>
    </select>
    <button type="submit"> Save Item</button>
</form>

<a th:href="@{/}"> Go back to home page</a>

</body>
</html>