<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navigation :: head"></head>
<body>
<div class="d-flex flex-column body-container">

    <nav th:replace="fragments/adminNav :: adminNav"></nav>

    <div class="container py-4">
        <h1><i class="fas fa-edit"></i> Edit Game</h1>

        <form action="#" th:action="@{/updateGame}" th:object="${game}"
              method="POST">

            <input type="hidden" th:field="*{id}"/>

            <div class="mb-3">
                <label for="name" class="form-label">Title</label>
                <input type="text" th:field="*{name}"
                       placeholder="Name" id="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" min="0" value="0" step="0.01" title="Currency"
                       pattern="^\d+(?:\.\d{1,2})?$" th:field="*{price}"
                       placeholder="Price" id="price" class="form-control">
            </div>
            <div class="mb-3">
                <label for="vendor" class="form-label">Vendor</label>
                <input type="text" th:field="*{vendor_ID}"
                       placeholder="Vendor ID" id="vendor" class="form-control">
            </div>
            <div class="mb-3">
                <label for="genre" class="form-label">Genre</label>
                <select th:field="*{game_genre}" id="genre" class="form-control">
                    <option th:each="genre : ${gameGenreList}" th:value="${genre.name()}"><span
                            th:text="${genre.name()}"></span></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Minimum Allowed Age</label>
                <input type="number" th:field="*{min_age}" placeholder="Minimum Age" id="age" class="form-control">
            </div>
            <div class="mb-3">
                <label for="publisher" class="form-label">Publisher</label>
                <input type="text" th:field="*{publisher}" placeholder="Publisher" id="publisher" class="form-control">
            </div>

            <button type="submit" class="btn btn-success"> Save Item</button>
        </form>
    </div>

    <nav th:replace="fragments/navigation :: footer"></nav>
</div>

</body>
</html>

