<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navigation :: head"></head>
<body>

<div class="d-flex flex-column body-container">

    <nav th:replace="fragments/adminNav :: adminNav"></nav>

    <div class="container py-4">
        <h1>Add Non-Fiction Book</h1>

        <form action="#" th:action="@{/updateNonfictionBook}" th:object="${nonfictionBook}"
              method="POST">
            <input type="hidden" th:field="*{id}"/>


            <div class="mb-3">
                <label for="name" class="form-label">Title</label>
                <input type="text" th:field="*{name}"
                       placeholder="Name" id="name" class="form-control">
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" min="0" value="0" step="0.01" title="Currency"
                       pattern="^\d+(?:\.\d{1,2})?$" th:field="*{price}"
                       placeholder="Price" id="price" class="form-control">
            </div>

            <div class="mb-3">
                <label for="vendor" class="form-label">Vendor</label>
                <input type="text" th:field="*{vendor_ID}"
                       placeholder="Vendor ID" id="vendor" class="form-control">
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" th:field="*{author}" placeholder="Author" id="author" class="form-control">
            </div>

            <div class="mb-3">
                <label for="isbn" class="form-label">ISBN</label>
                <input type="text" th:field="*{isbn}" name="isbn"
                       pattern="^(?:ISBN(?:-1[03])?:? )?(?=[0-9X]{10}$|(?=(?:[0-9]+[- ]){3})[- 0-9X]{13}$|97[89][0-9]{10}$|(?=(?:[0-9]+[- ]){4})[- 0-9]{17}$)(?:97[89][- ]?)?[0-9]{1,5}[- ]?[0-9]+[- ]?[0-9]+[- ]?[0-9X]$"
                       placeholder="ISBN" id="isbn" class="form-control">
                <span id="isbnHelpInline" class="form-text">
      Must be 10 or 13 numbers long.
    </span>
            </div>

            <div class="mb-3">
                <label for="pages" class="form-label">Number of Pages</label>
                <input type="number" th:field="*{pages}" placeholder="Number of Pages" id="pages" class="form-control">
            </div>

            <div class="mb-3">
                <label for="subject" class="form-label">Subject</label>
                <select th:field="*{nonfiction_subject}" id="subject" class="form-control">
                    <option th:each="subject : ${subjectList}" th:value="${subject.name()}"><span
                            th:text="${subject.name()}"></span></option>
                </select>
            </div>

            <button type="submit" class="btn btn-success"> Save Item</button>
        </form>
    </div>

    <nav th:replace="fragments/navigation :: footer"></nav>
</div>
</body>
</html>